@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

nav .navbar-collapse {
  transition: right 0.3s ease;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

#logo {
  font-weight: lighter;
}

.navbar {
  font-size: 18px;
  font-weight: bold;
  width: 100vw;
  opacity: 1;
  border-radius: 10px;
}
.navbar-nav {
  gap: 15px;
}

navbar-expand-lg .navbar-nav .nav-link .nav-link {
  font-size: 16px;
  color: #37aaa8;
}

.nav-link.active {
  border-bottom: 1px solid #37aaa8;
  border-bottom-width: thin;
}

.dropdown-item {
  font-family: Montserrat;
}

.dropdown-item:hover {
  background-color: #caf6f5;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-link {
  font-family: Montserrat;
  color: #000;
}
