#reg-form {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
}

.reg-toggle {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-left: 5px;
}

.reg-btn {
  font-family: "Montserrat-Bold", "Montserrat", "Arial";
  font-weight: 700;
  font-size: 14px;
  width: 175px;
  height: 38px;
  letter-spacing: 0.05em;
  color: black;
  margin-left: 6em;
  background-color: var(--yellow);
  border: none;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .reg-btn {
    margin-left: 3.5em;
  }
}

.reg-toggle:hover {
  text-decoration: underline;
  font-weight: bold;
}

.reg-title {
  font: bold 24px "Montserrat";
  padding: 7px;
}

.form-error {
  color: red;
  padding: 5px;
  margin: 2px;
}

#have-account {
  margin: 5px;
  text-align: center;
}

#form-container {
  background: no-repeat center transparent
    url("../../assets/regLogBg.svg");
}
