@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");

:root {
  /* Colors: */
  --unnamed-color-cacaca: #cacaca;
  --gray-40-: #a8a8a8;
  --gray-60-: #6f6f6f;
  --gray-70-: #525252;
  --gray: #161616;
  --unnamed-color-ddfafa: #ddfafa;
  --unnamed-color-caf6f5: #caf6f5;
  --unnamed-color-aee8e7: #aee8e7;
  --turquoise: #98dad9;
  --unnamed-color-fdd6d2: #fdd6d2;
  --unnamed-color-f8b7b1: #f8b7b1;
  --unnamed-color-e98178: #e98178;
  --red: #e65c4f;
  --unnamed-color-ccf1e1: #ccf1e1;
  --unnamed-color-ade2cb: #ade2cb;
  --unnamed-color-85ccad: #85ccad;
  --green: #6bbd99;
  --unnamed-color-fef0c2: #fef0c2;
  --unnamed-color-fce7a2: #fce7a2;
  --unnamed-color-fcdc71: #fcdc71;
  --yellow: #fdd037;
}

.content-container {
  background-image: url("../src/assets/BACKGROUND.svg"),
    url("../src/assets/backBottom.svg");
  height: auto;
  font-family: "Montserrat";

  background-size: cover;
  background-color: #fff7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .content-container {
    min-height: 100vh;
    background-size: cover;

    background-repeat: no-repeat;
  }
}

.bottom-rect {
  background: url("../src/assets/bottomRect.svg");
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .bottom-rect {
    position: absolute;
    margin-top: auto;
  }
}

.create-post-container {
  margin-bottom: 70px;
  padding: 29px;
}
