#log-form {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
}

.login-toggle {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-left: 5px;
}

.login-toggle:hover {
  text-decoration: underline;
  font-weight: bold;
}

.log-title {
  display: flex;
  align-items: center;
  gap: 2px;
  font: 27px "Montserrat";
  padding: 7px;
  margin: 4px;
  color: var(--salmon);
}

.form-error {
  color: red;
  padding: 5px;
  margin: 2px;
}

#log-form-text {
  text-align: center;
  margin: 1em;
}

.secondary-log-text {
  font: 24px "Lumanos,Arial";
  color: var(--green);
  font-weight: 600;
  padding: 4px;
  margin: 4px;
}

#form-log-container {
  background: no-repeat center transparent
    url("../../assets/regLogBg.svg");
  height: 100%;
}

.login-btn {
  font-family: "Montserrat-Bold", "Montserrat", "Arial";
  font-weight: 700;
  font-size: 14px;
  width: 175px;
  height: 38px;
  letter-spacing: 0.05em;
  color: black;
  margin-left: 5em;
  background-color: var(--yellow);
  border: none;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .login-btn {
    margin-left: 3em;
  }
}

.login-btn:hover {
  background-color: var(--yellow-light);
}

.log-btn-container {
  margin: var(--mx-auto);
}
