@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
@font-face {
  font-family: "Kristen ITC";
  src: url("../src/fonts/ITCKRIST.TTF") format("truetype");
}

:root {
  /* Colors: */
  --unnamed-color-cacaca: #cacaca;
  --gray-40-: #a8a8a8;
  --gray-60-: #6f6f6f;
  --gray-70-: #525252;
  --gray: #161616;
  --unnamed-color-ddfafa: #ddfafa;
  --unnamed-color-caf6f5: #caf6f5;
  --unnamed-color-aee8e7: #aee8e7;
  --turquoise: #98dad9;
  --unnamed-color-fdd6d2: #fdd6d2;
  --unnamed-color-f8b7b1: #f8b7b1;
  --unnamed-color-e98178: #e98178;
  --red: #e65c4f;
  --unnamed-color-ccf1e1: #ccf1e1;
  --unnamed-color-ade2cb: #ade2cb;
  --unnamed-color-85ccad: #85ccad;
  --green: #6bbd99;
  --unnamed-color-fef0c2: #fef0c2;
  --unnamed-color-fce7a2: #fce7a2;
  --unnamed-color-fcdc71: #fcdc71;
  --yellow: #fdd037;
}

.content-container {
  background-image: url("../src/assets/BACKGROUND.svg"),
    url("../src/assets/backBottom.svg");
  height: auto;
  font-family: "Montserrat";
  background-size: cover;
  background-color: #fff7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .content-container {
    min-height: 100vh;
    background-size: cover;

    background-repeat: no-repeat;
  }
}

.logo-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-family: "Kristen ITC";
}

.logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.navbar-text {
  font-family: Montserrat;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.navbar-text:hover {
  color: #98dad9;
}

.navbar {
  display: flex;
  justify-content: center;
}

.landing-text {
  top: 373px;
  left: 250px;
  width: 474px;
  height: auto;
  font-size: 61px;
  font-family: "Montserrat";
  font-weight: bold;
  opacity: 1;
}

.landing-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .landing-text-container {
    width: 100%;
  }
  .personalPara {
    width: 100%;
  }
}
.landing-container {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.personalPara {
  position: relative;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.bottom-rect {
  background: url("../src/assets/bottomRect.svg");
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .bottom-rect {
    position: absolute;
    margin-top: auto;
  }
}

.create-post-container {
  margin-bottom: 70px;
  padding: 29px;
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 20px;
  flex-grow: 1;
}

#Jerry {
  font-family: "Kristen ITC";
}

@media (max-width: 600px) {
  .landing-container .landing-text {
    font-size: 35px;
  }
  .landing-container button {
    width: 100vw;
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 330px) {
  .landing-container .landing-text .responsive-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: flex-end;
    font-size: 35px;
  }
  .landing-container button {
    width: 100vw;
    max-width: 300px;
    height: auto;
  }
}

.card-section-header,
.card-header {
  margin: 5px;
  padding: 5px;
  color: var(--gray);
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  font-family: Montserrat;
}

.card-section-body,
.my-card {
  box-shadow: 0px 16px 16px #0000000d;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
  font-family: Montserrat;
  font-size: 20px;
  color: var(--gray-70-);
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 24px;
  background-color: var(--unnamed-color-ddfafa);
  padding: 16px;
  border: none;
}

.image-grid img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.modal-body {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .modal-body {
    max-width: 90%;
  }
}

.modal-body img {
  max-width: 100%;
  height: auto;
}
