@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
@font-face {
  font-family: "Kristen ITC";
  src: url("https://github.com/Tim-Quattrochi/Remembrance-Page/blob/main/packages/client/src/fonts/ITCKRIST.TTF")
    format("truetype");
}

:root {
  /* Colors: */
  --unnamed-color-cacaca: #cacaca;
  --gray-40-: #a8a8a8;
  --gray-60-: #6f6f6f;
  --gray-70-: #525252;
  --gray: #161616;
  --unnamed-color-ddfafa: #ddfafa;
  --unnamed-color-caf6f5: #caf6f5;
  --unnamed-color-aee8e7: #aee8e7;
  --turquoise: #98dad9;
  --unnamed-color-fdd6d2: #fdd6d2;
  --unnamed-color-f8b7b1: #f8b7b1;
  --unnamed-color-e98178: #e98178;
  --red: #e65c4f;
  --unnamed-color-ccf1e1: #ccf1e1;
  --unnamed-color-ade2cb: #ade2cb;
  --unnamed-color-85ccad: #85ccad;
  --green: #6bbd99;
  --unnamed-color-fef0c2: #fef0c2;
  --unnamed-color-fce7a2: #fce7a2;
  --unnamed-color-fcdc71: #fcdc71;
  --yellow: #fdd037;
}

.content-container {
  background-image: url("../src/assets/BACKGROUND.svg"),
    url("../src/assets/backBottom.svg");
  height: auto;
  font-family: "Montserrat";
  background-size: cover;
  background-color: #fff7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .content-container {
    min-height: 100vh;
    background-size: cover;

    background-repeat: no-repeat;
  }
}

.logo-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-family: "Kristen ITC";
}

.logo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.navbar-text {
  font-family: Montserrat;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.navbar-text:hover {
  color: #98dad9;
}

.navbar {
  display: flex;
  justify-content: center;
}

.landing-text {
  top: 373px;
  left: 120px;
  width: 474px;
  height: 202px;
  font-size: 61px;
  font-family: "Montserrat";
  font-weight: bold;
  opacity: 1;
}

.landing-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-desc {
  width: 100%;
  max-width: 447px;
  height: 149px;
  margin-top: 2rem;
  opacity: 1;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .landing-text-container {
    width: 100%;
  }
  .personalPara {
    width: 100%;
  }
}
.landing-container {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.personalPara {
  position: relative;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.bottom-rect {
  background: url("../src/assets/bottomRect.svg");
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .bottom-rect {
    position: absolute;
    margin-top: auto;
  }
}

.create-post-container {
  margin-bottom: 70px;
  padding: 29px;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

#Jerry {
  font-family: "Kristen ITC";
}
