.footer--pin {
  flex: 1;

  bottom: 0;

  width: 100%;
  height: 100px; /* Height of the footer */
  background: var(--turquoise);
  background-image: linear-gradient(#ffffff00, #ffffff9e, #c8f3df);
  background-color: #fff7eb;
  opacity: 1;
}
