.carousel-control-next-icon {
  background-image: url("../../assets/next.svg");
}

.carousel-control-prev-icon {
  background-image: url("../../assets/previous.svg");
}

#image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-top: 10rem;

  background-color: var(blue);
  padding: 16px;
  border: none;
}

@media only screen and (max-width: 768px) {
  #image-grid {
    margin-top: 5rem;
  }
}

#image-grid img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.modal-body {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .modal-body {
    max-width: 90%;
  }
}

.carousel-container {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-control-prev {
  left: 20px;
}

.carousel-control-next {
  right: 20px;
}
